.card-white{
	background-color: white;
	padding:  25px;
	border-radius: 6px;
	box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.4);
	text-align: center;
}

.cards{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 16px;
}

.card-white img{
	width: 50%;
	height: 80%;
}